 /*CSS File for the index page*/

 canvas{
    background-color: black;
    float: left;
}

#ui{
    float: left;
    margin: 10px 0px 0px 10px;
}

.sectionUI{
    display: inline-block;
}

.inline{
    display: inline-block;

}

.OptionHolder {
    display: flex;
    align-items: center;
}

.lock{
    width: 30;
    height: 28;
    margin-right: 5px;
    padding-bottom: 2px;
}
#btn{
	background-image: url("Buttons/btn-back-orange.png");
}