 /*CSS File for the index page*/

 canvas{
    background-color: black;
    float: left;
}

#ui{
    float: left;
    margin: 10px 0px 0px 15px;
}

.sectionUI{
    display: inline-block;
}

.inline{
    display: inline-block;

}

.OptionHolder {
    display: flex;
    align-items: center;
}

.lock{
    width: 30;
    height: 28;
    margin-right: 5px;
    padding-bottom: 2px;
}
#btn{
    margin-top: 25px;
    background-image: url("Buttons/btn-back-orange.png");
    width: 250px;
    height: 43px;
    font-size: 24;
    font-style: 0xFFFFFF;
}

textarea:focus {
    border: 3px solid #555;
}

p, h1, h2 textarea{
    font-family: "Tahoma";
}

textarea{
    width: 250px;
    height: 100px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
}

body{
    background-image: url("Backgrounds/JustWinkBackgrounds/Background.jpg");
}

canvas{
    box-shadow: 8px 8px 5px gray;
}
/* Taken from https://codepen.io/ericrasch/pen/zjDBx */
select#soflow, select#soflow-color {
   -webkit-appearance: button;
   -webkit-border-radius: 2px;
   -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
   -webkit-padding-end: 20px;
   -webkit-padding-start: 2px;
   -webkit-user-select: none;
   background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: inherit;
   margin: 20px;
   overflow: hidden;
   padding: 5px 10px;
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 250px;
}
